
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;
    background-attachment: fixed;
    background: linear-gradient(-120deg, #fdfcfb, #e2d1c3);
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

h1 {
    font-family: 'Courier New', Courier, "Comic Sans MS", monospace;
    height: 50px;
	font-size: 30px;
    line-height: 32.4px;
    font-weight: bold;
    text-align: center;
}

th, td {
    padding: 5px;
    font-family: 'Courier New', Courier, "Comic Sans MS", monospace;
}

#error {
    color : red;
}

.non-active-button {
    background-color: #b2c2bf;
    color: white;
}

p {
    margin: 5%;
}

#container {
    /* width: 100%;
    text-align: center; */
    display: flex;
    justify-content: center;
}

#drop-and-create-database-container {
    display: flex;
    justify-content: center;
}
